@import '../../../scss/variables';

#players {
  .list-group-item {
    border-right: none;
    border-left: none;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }

}

#createSheetPopup {
  position: fixed;
  bottom: 56px;
  width: 100%;
  box-shadow:0px 0px 5px gray;
  z-index: 10;

  a {
    border-left:none;
    border-right:none;
  }

  a:first-child, a:last-child {
    border-radius:0;
  }
}

nav {
  background-color:$white;
  padding: 0;
  height: 56px;
  line-height: 36px;
  text-align: center;
  box-shadow: 0px -0.1px 10px gray;

  .nav-link {
    height: 100%;
    width: 100%;
  }

  .active {
    // border-bottom-width: 2px;
    // border-bottom-color: $primary;
    // border-bottom-style: solid;
    border-top-width: 2px;
    border-top-color: $primary;
    border-top-style: solid;

  }
}
