<!-- <div id="firebaseui-auth-container"></div> -->

<div class="container login">

    <form [formGroup]="form" (submit)="login($event)">
        <div class="form-group">
            <input type="text" class="form-control no-border" formControlName="username" placeholder="Username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control no-border" formControlName="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Log in</button>
        </div>

      <div *ngIf="errorMessage" class="form-group alert alert-danger">
        {{ errorMessage}}
      </div>
    </form>
</div>
