<nav id="navbar" class="navbar navbar-light" *ngIf="isLoggedIn()">
  <a id="btnSidebar" class="navbar-brand" *ngIf="isLoggedIn()" (click)="isMenuOpen = !isMenuOpen" (window:click)="windowClick($event)">
      <i class="fa fa-bars" aria-hidden="true"></i>
  </a>

  <a class="logo">
    <img src="assets/images/project-logo.jpg" height="15">
  </a>
</nav>
<!--The content below is only a placeholder and can be replaced.-->

<div id="sidebar" *ngIf="isMenuOpen" @sidebarSlide>
  <div id="menuItems" class="list-group">
    <div class="list-group-item" (click)="isMenuOpen = false">
      <h4>Gloomhaven</h4>
    </div>
    <a class="list-group-item list-group-item-action" routerLink="sheets">sheets</a>
    <a class="list-group-item list-group-item-action" (click)="logout()">logout</a>
  </div>
</div>

<div id="main" [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>
