@import '../scss/variables.scss';

#sidebar {
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  box-shadow: 1px 0px 5px grey;
  z-index: $menuZIndex;
}

#sidebarOverlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $overlayColor;
  opacity: $overlayOpacity;
  z-index: $menuOverlayZIndex;
}

#navbar {
  background-color: $white;
  position: relative;
  height: $navHeight;

  .logo {
    left: 50%;
    position: absolute;
    margin-left: -50px;
  }
}
