<div class="container">
  <div class="custom-grid divide-evenly">
    <div>&nbsp;</div>
    <div><h5 class="title">Tracker</h5></div>
    <app-confirm-button
      iconClass="fas fa-eraser fa-lg"
      confirmationText="Are you sure you want to reset the counter?"
      (confirm)="reset()" >
    </app-confirm-button>
  </div>
  <form [formGroup]="form">
    <div class="counter-card">
      <div class="form-group">
        <app-custom-counter labelText="HP" id="divHp" formControlName="hp"></app-custom-counter>
      </div>

      <div class="form-group">
        <app-custom-counter labelText="XP" id="divXp" formControlName="xp"></app-custom-counter>
      </div>

      <div class="form-group">
        <app-custom-counter labelText="Tokens" id="divTokens" formControlName="tokens"></app-custom-counter>
      </div>

      <div class="form-group">
        <app-custom-counter labelText="Kills" id="divKills" formControlName="kills"></app-custom-counter>
      </div>
    </div>

    <div class="action-float">
      <a class="btn btn-lg btn-primary btn-float" routerLink="/transfer">
        <span class="fas fa-save"></span>
      </a>
    </div>

  </form>
</div>
