@import '../../scss/variables.scss';

nav {
  background-color:$white;
  padding: 0;
  height: 56px;
  line-height: 36px;
  text-align: center;
  box-shadow: 0px -0.1px 10px gray;

  .nav-link {
    height: 100%;
    width: 33%;
  }

  .active {
    // border-bottom-width: 2px;
    // border-bottom-color: $primary;
    // border-bottom-style: solid;
    border-top-width: 2px;
    border-top-color: $primary;
    border-top-style: solid;

  }
}

.container {
  padding-bottom: 56px;
}

h2 {
  text-align: center;
}

#levels {
  text-align: center;

  .level.col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .xp-indicator {
    margin: -5px;
  }

  .xp-arrow {
    position: relative;
    height: 15px;

    i {
      position:absolute;
    }
  }

  .current-level {
    font-weight: bold;
  }
}




