<h1>sheet</h1>
<form [formGroup]="form">

  <div class="form-group">
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div id="levels">
    <div *ngFor="let xp of xpPerLevel; let levelIndex = index" class="level" [ngClass]="{'current-level': hasCurrentLevelWith(form.controls.experiencePoints.value, levelIndex)}">
      {{levelIndex + 1}}
    </div>
  </div>

  <app-custom-counter id="divXp" formControlName="experiencePoints"></app-custom-counter>

  <div class="form-group">
    <textarea formControlName="experiencePointsNotes"></textarea>
  </div>

  <app-custom-counter id="divGold" formControlName="gold"></app-custom-counter>

  <div class="form-group">
    <textarea cols="30" rows="10" formControlName="itemNotes"></textarea>
  </div>

  <div class="form-group" formArrayName="perks">
    <div class="perk" *ngFor="let perk of form.controls.perks.controls; let i = index" [formGroupName]="i">
      <label>
        <input type="checkbox" formControlName="hasObtained"> {{perk.controls.description.value}}
      </label>
    </div>
  </div>

  <div class="form-group" formArrayName="challengeSuccesses">
    <div *ngFor="let challengeSuccess of form.controls.challengeSuccesses.controls; let i = index">
      <input type="checkbox" [formControl]="challengeSuccess">
    </div>
  </div>

  {{ form.getRawValue() | json }}

</form>